body, p, .widgettitle, #respond h3{font-family:'Work Sans';}
.editor-post-title__block .editor-post-title__input, .wp-block-heading h1, .wp-block-heading h2, .wp-block-heading h3, .wp-block-heading h4, .wp-block-heading h5, .wp-block-heading h6, blockquote, blockquote p, .logo-txt, h1, h2, h3, h4, h5, h6{ font-family:'Lora'; }

.editor-post-title{
	background: #999;
	padding-top: 54px;
	padding-bottom: 54px;
	margin-bottom: 81px;
}
.editor-post-title__block .editor-post-title__input{ font-size: 108px;
font-weight:400;
letter-spacing: .03em;
text-align: center;
color: #fff; }
body{ color: #252525; }

h1, h2, h3, h4, h5, h6, .wp-block-heading h1, .wp-block-heading h2, .wp-block-heading h3, .wp-block-heading h4, .wp-block-heading h5, .wp-block-heading h6 {
    font-weight: 400;
    line-height: 1.5em;
}
h1, .wp-block-heading h1{font-size:54px;}
h2, .wp-block-heading h2{font-size:48px;}
h3, .wp-block-heading h3{font-size:36px;}
h4, .wp-block-heading h4{font-size:32px;}
h5, .wp-block-heading h5{font-size:24px;}
h6, .wp-block-heading h6{font-size:16px;}

.wp-block-separator{margin-top: 24px;
margin-bottom: 24px;
border: 0;
border-top: 1px solid #eee;}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: none;
}

.wp-block-preformatted, .wp-block-verse{ background: #f0f0f0;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 24px;
    overflow: auto;
    padding: 24px;
    white-space: pre-wrap;
	border:none;
	font-size:13px;}	
	
.block-library-list ul,
.block-library-list ol{
	margin-left: 0;
}	
	
/* definition lists */
dl dt {
  margin-bottom: 0;
}
dl dd {
  margin-left: 16px;
  margin-bottom: 24px;
}

/* tables */
.wp-block-table table {border-left: 1px solid #eee;
border-top: 1px solid #eee;
   font-size: 16px;
width: 100%;
  text-align: center;
}
.wp-block-table table caption { margin-bottom: 24px;
text-align:center;}
.wp-block-table th, .wp-block-table td {border:none;
border-bottom: 1px solid #eee;
border-right: 1px solid #eee;
text-align:center;
padding: 16px 0;}

.wp-block-table__cell-content {
    padding: 0;
}

.gutenberg .wp-block-latest-posts{padding:0;}

.wp-block-latest-posts, .wp-block-categories ul, ul.wp-block-archives {
    list-style: none;
    margin: 0;
    padding:0;  
}
.wp-block-latest-posts li, .wp-block-categories ul li, .wp-block-archives li {
    margin-bottom: 16px;
	list-style: none;
}

.wp-block-categories ul li:last-child{
	margin-bottom: 0;
}

.wp-block-categories ul ul {
	margin-left: 16px;
}

.wp-block-latest-posts li a, .wp-block-categories li a, .wp-block-archives li a{color:#9fc4ce;
text-decoration:none;}
.wp-block-latest-posts li a:hover, .wp-block-categories li a:hover, .wp-block-archives li a:hover{text-decoration:none;
color:#252525;
}

.wp-block-quote, .wp-block-quote.is-large, .wp-block-quote.is-style-large{
    font-size: 24px;
    line-height: 1.6em;
    font-style: italic;
    font-weight: 400;
    color: #252525;
    position: relative;
    border: none;
    margin: 42px 0;
    padding: 0 42px;
}

.wp-block-quote:before {
    display: block;
	font-family: "Font Awesome 5 Free";
    content: "\f10d";
    line-height: 1;
    font-size: 32px;
	font-style:normal;
	font-weight:700;
    position: absolute;
    left: 0;
    top: 0px;
}

.wp-block-quote cite, .wp-block-quote__citation {
	color: #999999;
	font-size: 12px; 
	font-style: normal; 
	font-weight:300;
	text-transform:uppercase;
}

.wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-large cite{
	font-size: 18px;
	text-align: inherit;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: none;
    padding-left:42px;
}
.wp-block-quote p{font-size:24px;}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p{font-size:32px;}

.wp-block-pullquote {
    border-top: 3px solid #252525;
    border-bottom: 3px solid #252525;
    color: #252525;
	padding:24px;
	font-style: italic;
	margin: 24px auto;
}
.wp-block-pullquote:before{display:none;}
.wp-block-pullquote cite, .wp-block-pullquote .wp-block-pullquote__citation, .wp-block-pullquote footer{color: #999999;
	font-size: 12px; 
	font-style: normal; 
	font-weight:300;
	text-transform:uppercase;}
	
.wp-block-pullquote p{
	margin-bottom: 16px;
}

.wp-block-pullquote blockquote{
	border-left:none;
	margin: 0;
	padding: 0 32px;
}	

.wp-block-button .wp-block-button__link{	font-size: 13px;
    letter-spacing: 0.15em;
	font-weight:600;
	display:inline-block;
	color:#ffffff;
	border:2px solid #9fc4ce;
 text-transform: uppercase;
padding:12px 24px;
background:#9fc4ce;
cursor:pointer;
border-radius:0;
}

.wp-block-button .wp-block-button__link:hover{color:#9fc4ce;
border:2px solid #9fc4ce;
background:none;
}

.wp-block-button__link:not(.has-background), .wp-block-button__link:not(.has-background):active, .wp-block-button__link:not(.has-background):focus, .wp-block-button__link:not(.has-background):hover{background-color:none;}

.wp-block-cover-image{width:auto;}

.categ-name h2, .headline h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
	font-weight: 700;
}
.categ-name h2:before, .headline h2:before, .title-headline:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #252525;
    bottom: 0;
    left: 0;
    position: absolute;
}
.categ-name h2:after, .headline h2:after, .title-headline:after {
    content: '';
    width: 100%;
    height: 5px;
    background: #252525;
    bottom: -7px;
    left: 0;
    position: absolute;
}

/* Main column width */
.wp-block {
    max-width: 1350px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1500px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

@media (min-width: 768px) and (max-width: 1600px) {
	
	.wp-block[data-align="wide"] {
    max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin-left: -58px;
	margin-right: -58px;
	}
	
	.block-editor-block-list__layout .block-editor-block-list__block[data-align="wide"]:before {
    left: 0;
    right: 0;
    border-left-width: 0;
    border-right-width: 0;
}
	
}

@media ( max-width: 767px ){
	
	.wp-block[data-align="wide"] {
    max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin-left: -14px;
	margin-right: -14px;
	}
	
	.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:last-child) {
		margin-right: 14px;
		
	}
	.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"]:not(:first-child) {
		margin-left: 14px;
	}
	
	.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout > [data-type="core/column"] {
	
	flex-basis: 100%;
	flex-grow: 1;
    margin-left: 14px;
    margin-right: 14px;
	}

	.wp-block-columns > .editor-inner-blocks > .editor-block-list__layout {

    flex-wrap: wrap;
	}
	
}